@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Resets & Basic Styles */ 
* {
    box-sizing: border-box;
}

body {
    width: 100%; 
}

.wrapper {
    max-width: 70vw; 
    margin: 0 auto; 
}

/* Typography */ 

html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4rem; 
}

h2 {
   font-size: 2rem; 
}



